{
  "optional": [
    "es7.exportExtensions",
    "es7.objectRestSpread",
    "es7.classProperties"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-transform"
      ],
      "extra": {
        "react-transform": {
          "transforms": [{
            "transform": "livereactload/babel-transform",
            "imports": ["react"]
          }]
        }
      }
    }
  }
}
