{
    "rules": {},
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": ["standard", "standard-react"],
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "plugins": [
        "react"
    ]
}
