{
  "root": true,
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": ["flowtype", "react", "prettier", "standard", "react-native"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "react-native/react-native": true
  },
  "rules": {
    "react/prop-types": 0,
    "react-native/no-unused-styles": 2,
    "react-native/no-raw-text": 2
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
