{
  "root": true,
  "extends": ["standard", "prettier", "prettier/standard"],
  "plugins": ["prettier", "standard"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "camelcase": 0,
    "lines-between-class-members": 0
  },
  "ignorePatterns": ["*.ts"]
}
